<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo">MyApp</span>
  <span class="spacer"></span>
  <nav class="desktop-menu">
    <a mat-button class="menu-button" routerLink="/" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/" fragment="about">About</a>
    <a mat-button routerLink="/" fragment="services">Services</a>
    <a mat-button routerLink="/" fragment="portfolio">Portfolio</a>
    <a mat-button routerLink="/" fragment="contact">Contact</a>
  </nav>
</mat-toolbar>
