<!-- home.component.html -->
<app-header></app-header>

<main fxLayout="column" fxLayoutGap="2rem">

  <app-slider></app-slider>

  <section fxLayout="column" fxLayoutAlign="center center" class="section" id="about">
    <app-about></app-about>
  </section>

  <section fxLayout="column" fxLayoutAlign="center center" class="section" id="services">
    <app-services></app-services>
  </section>

  <section fxLayout="column" fxLayoutAlign="center center" class="section" id="portfolio">
    <app-portfolio></app-portfolio>
  </section>

  <section fxLayout="column" fxLayoutAlign="center center" class="section" id="founders">
    <app-founders></app-founders>
  </section>

  <section fxLayout="column" fxLayoutAlign="center center" class="section" id="contact">
    <app-contact></app-contact>
  </section>

</main>
